header{
  background: rgb(244,244,244);
  background: -moz-linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f4f4",endColorstr="#ffffff",GradientType=1);
  overflow:auto;
  padding: 4px 0px 2px 6px;
  position: fixed;
  width: 100%;
  z-index: 999;
  background:black;
  color:#eee;
}
header .logo{
  line-height: 1.3;
  margin-left:10px;
  font-size: 1.8em;
  text-indent: 53px;
  display: inline-block;
  position: fixed;
}
header .logo img{
  float:left;
  width:72px;
  margin-left: -68px;
  position: absolute;
}
header nav[role="navigation"]{
  display: inline-block;
  float: right;
  max-height: 55px;
  min-width: 40%;
  line-height:2.7;
}
header nav[role="navigation"] div[role="itemmenu"]{
  display:inline-block;
  min-width:20%;
  padding: 0px 5px 0px 5px;
  text-align: center;
  border-top:2px solid transparent;
}
header nav[role="navigation"] div[role="itemmenu"] a{
  text-transform: uppercase;
  font-weight: bold;
  font-size: .875rem;
  color: #2d2d2d;
  white-space: nowrap;
  text-decoration: unset;

  width: 100%;
  display: block;
 
  color:#eee;
}
header nav[role="navigation"] div[role="itemmenu"]:hover{
  background:#1A1A1A;
  border-top: 2px solid #d71921;

}
header nav[role="navigation"] div[role="itemmenu"] a:hover{
  color:white!important;
}
div[role="banner"]{
  width:100%;
  height: auto;
  overflow: auto;
  margin-top: 46px;
}
div[role="banner"] .banner-imagem-cortada{
  background-image: url('./assets/img/bg1.jpg');
  background-size: cover;
  height: 370px;
  width: 60%;
  display:inline-block;
  float:left;
}
div[role="banner"] .banner-painel{
  background: rgb(244,244,244);
  background: -moz-linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f4f4",endColorstr="#ffffff",GradientType=1);
  float:left;
  width:40%;
  height: 370px;
}
div[role="banner"] .banner-painel-triangulo{
  height: 370px;
  width: 216px;
  transform: skewX(-18deg);
  margin-left: -61px;
  background: rgb(244,244,244);
  background: -moz-linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f4f4",endColorstr="#ffffff",GradientType=1);
  position: absolute;
  z-index: 1;
}
div[role="banner"] .banner-painel-conteudo{
  position: absolute;
  z-index: 100;
  width: 40%;
  text-align:center;
}
.banner-painel-conteudo a {

}
.banner-painel-conteudo-imagens{
  display:flex;
  padding:7px;
  flex-wrap: wrap;
}
.banner-painel-conteudo-imagens-item {
  flex:1;
  text-align: center;
}
.banner-painel-conteudo-imagens-item img{
  max-width:182px;
  max-height:182px;
  border-radius: 100px;
  margin: 7px;
}
div[role="main"]{
  background-color:white;
  height: auto;
  overflow: auto;
}
div[role="main"] section{
  min-height: 200px;
  width: 100%;
}
div[role="main"] section article {

}
div[role="main"] section article h3, div[role="main"] section h3{
  text-align:center;
  font-size:1.4em;
}
.container-atribuicoes{
  display: flex;
  flex-wrap: wrap;
}
.container-atribuicoes .conteiner-atribuicoes-item{
  flex:1;
  text-align: center;
  font-size:0.9em;
  color: #2d2d2d;
}
.container-atribuicoes .conteiner-atribuicoes-item img{
  min-height: 190px;
  max-width:190px;
  border-radius:100px;
  display: block;
  cursor:pointer;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}
.border-vertical-top{
  width: 100%;
  display: block;
  height: 80px;
  transform: skewY(-2deg);
  position: absolute;
  margin-top: -46px;
  background-color: inherit;
}
.section-descricao{
  background-color:#1000ff;
  color:white;
}
.section-descricao-conteudo{
  position:relative;
  width:100%;
  display:flex;
  z-index: 2;
}
.section-descricao-conteudo-text{
  flex:2;
  text-align:justify;
  text-indent:16px;
  padding-left:32px;
}
.section-descricao-conteudo-image{
  flex:1;
}
.section-descricao-conteudo-image img{
  width: 128px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
 
}
.section-mobile{
  background-color:black;
  background-image: url('./assets/img/banner-mobile.png');
  background-size:cover;
  color:#777777;
  height:auto;
  overflow:auto;
}
.section-mobile-text{
    width: auto;
    min-width: 200px;
    max-width: 800px;
    display: block;
    margin: 7px auto 7px auto;
    background-color: rgba(37, 37, 37, 0.85);
    padding: 7px 16px;
    border-radius: 5px;
}
.section-foruns-project{
  background-color: #e2eeed;
  background-image:url('./assets/img/bg6.png') cover;
  background-repeat: no-repeat;
  background-position: 50%;
  padding-top:32px;
}
.section-foruns{
  display:flex;
  text-align:center;
  flex-wrap: wrap;
  max-width:90%;
  margin-left:auto;
  margin-right:auto;

}
.section-foruns-item{
  flex:1;
  min-width: 200px;
}
.section-foruns-item img{
  min-width:124px;
  max-height:120px;
  max-width: 100%;
}
.section-project{
  padding-bottom: 15px;
}
.section-project:before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 145%;
    z-index: 1;
    /* top: 0; */
    transform: skewY(-4deg);
    background: #1781ea;
}
div.chatbot{
  position:fixed;
  bottom:0;
  right:0;
  background:aliceblue;

}
@media  (max-width: 500px){
  .section-project:before{
    height:310%;
  }
}

@media  (max-width: 600px){
  .section-project:before{
    height:280%;
  }
}

@media  (max-width: 767px) {
  
  div[role="banner"] .banner-painel,div[role="banner"] .banner-imagem-cortada,div[role="banner"] .banner-painel-conteudo{
    width: 100%;
    display: block;
  }
  .banner-painel-conteudo {
    width: 100%;
    position: initial;
    height: auto;
    display: block;
  }
  .banner-painel-conteudo-imagens{
    padding: 0px;
  }

  div[role="banner"] .banner-painel-triangulo{
    display:none;
  }
  
  .banner-painel-conteudo-imagens-item img {
    width: 100px;
    height: 100px;
  }

  .section-project:before{
    height:310%;
  }
}


@media (min-width: 768px) {
  
  .banner-painel-conteudo-imagens-item img {
    width: 86px;
    height: 86px;
  }
  .section-project:before{
    height:200%;
  }

}
@media (min-width: 992px) {
  .banner-painel-conteudo-imagens-item img{
    width:110px;
    height:110px;
  }
  .section-project:before{
    height:150%;
  }
}
@media (min-width: 1200px) {
  .banner-painel-conteudo-imagens-item img{
    width:124px;
    height:124px;
  }
}