.ProjectBox {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 0px 16px 0px 16px;
    z-index:1;
}
.itemprojeto {
    cursor:pointer;
    flex: 1 1;
    min-width: 250px;
    margin: 4px 8px;
    border-radius:4px;
    background: rgb(244,244,244);
    background: linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);
    padding: 9px 4px 8px 11px;

    box-shadow: 4px 4px 20px 0 rgba(120,135,182,.1);
    background-color: #fff;
    border-radius: 3px;
    border: solid 1px #eff1f9;
    color: #747c81;
    transition: all .3s ease;
    
}
.itemprojeto:hover{
     transform: translateY(2px);
    box-shadow: none;
}
.itemprojeto .img{
    text-align:center;
    float: left;
    height: 84px;
    width: 105px;
    padding-top:10px;

}
.itemprojeto .img svg, .itemprojeto .img img{
    height: 67px;
    width: 67px;
}
.itemprojeto .desc{

}