@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI'), url('assets/font/segoeui/segoeui.woff') format('woff');
}
*:not(i){
  font-family: "Segoe UI", Verdana, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding:0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  height: auto;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  overflow: auto;
  height: auto;
  display: block;
}
.button{
    --background-color: #2941ec;
    background-color: #1A1A1A;
    font-weight: 700;
    color: white!important;
    padding: 7px 14px;
    border-radius: 4px;
}
.bg1{
  background-color:#eee;
}
.button:hover{
  background-color:#969393;
  color:#fff!important;
}
a {
  text-decoration: none;
      color: inherit;
}
a:hover{
  color:#070b4a!important;
}
.btn-light{
  padding: 6px 11px;
  color: rgba(37, 37, 37, 0.85);
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.15);
  background-color: transparent;
  font-weight: 700;
}